<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Hello World with Long Hai</h1>
    <img src="/image/hinh.png">
    <button onclick="window.location.href='/form'">Form thêm user</button>
</body>

</html>