* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 500px;
    margin: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

#form {
    margin: auto;
    margin-top: 40px;
    width: 500px;
}

.active {
    background-color: green;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: coral;
}

.action {
    display: inline;
}

form {
    border: 1px solid;
    border-radius: 5px;
}